/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --home-widith: 250px;
}

/* wrapper */
.wrapper {
    width: 100%;
    height: 100vh;
    /* da cancellare */
    background-color: bisque;
}

/* ALL */
.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    /* da cancellare */
    border: 2px solid black;
    background-color: blueviolet;
    min-height: 300px;
}

.pt-30 {
    margin-top: 30px;
}

.pt-15 {
    margin-top: 15px;
}

.pt-10 {
    padding-top: 10px;
}
.pt-songs{
    padding-top: 30px;
}

.w-txt {
    color: white;
}

body {
    font-family: sans-serif;
}

/* main */
.row {
    display: flex;
}

/* home-col */
.home-col {
    width: var(--home-widith);
    background-color: #000000;
    min-height: 400px;
    height: calc(100vh - 90px);
    padding: 15px;
    padding-top: 20px;
}

.home-row {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
}
.logo-m{
    width: 35px;
    display: none;
}

.logo-1 {
    color: white;
    height: 40px;
}

.spotify {
    color: white;
    padding-top: 8px;
    font-size: 22px;
    padding-left: 5px;
}

.home {
    border-left: 2px solid #abfc2f;
    position: relative;
    right: 15px;
    padding-left: 15px;
}

.log-list {
    color: white;
    height: 30px;
}

.list-txt {
    color: white;
    padding-top: 8px;
    font-size: 22px;
    padding-left: 5px;
}

.home-txt {

    padding-top: 6px;
    font-size: 16px;
    padding-left: 5px;
}

.grey {
    color: #595d63;
    padding-top: 6px;
    font-size: 16px;
    padding-left: 5px;
}

.row-footer{
    display: flex;
    height: calc(100%);
}
.home-footer {
    align-self: flex-end;
    color: #595d63;
    width: 20px;
}
.download{
    color: #595d63;
    padding-top: 6px;
    font-size: 16px;
    padding-left: 5px;
    align-self: flex-end
}
.user{
    background-color: #808080;
    border-radius: 50%;
    height: 23px;
    width: 23px;
}
.home-col p:hover{
    color: white;
   
}
.croce{
    background-color: #a3a3a3;
    width: 20px;
    height: 20px;
    text-align: center;
}

/* song-col */
.song-col {
    width: calc(100% - var(--home-widith));
    background-color: #141922;
    min-height: 400px;
    height: calc(100vh - 90px);
    overflow: auto;
    color: #595d63;
}

.header-song-col {
    height: 70px;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

header p {
    height: 2rem;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #4c4d53;
    font-size: smaller;
    padding-top: 6px;
    display: block;
    transform: scale(1);
    transition: all .2s linear;
    position: fixed;
}
header p:hover{
    transform: scale(1.1);
    
}
.row-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.row-songs {
    display: flex;
    flex-wrap: wrap;
}

.col-songs {
    width: calc(100% / 6);
    padding: 20px;
}
.songs-cont{
    padding: 15px;
}
.img-songs{
    width: 100%;
    position: relative;
}
.play{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.play:hover{
   opacity: 1;
}
.rad{
    border-radius: 50%;
}
.song-title{
    text-align: center;
}
.row-tags a{
    text-decoration: none;
    color: #595d63;
}
.row-tags a:hover{
    color: white;
}

/* footer */
.play-bar {
    height: 90px;
    background-color: #282828;
}
.footer-row{
    display: flex;
    
}
.footer-col{
    width: calc(100% / 3);
    border: 2px solid orange;
    height: 90px;
 padding: 10px;
}
.play-bar img{
    width: 60px;
}
.sub-title{
    color: #595d63;
}
.pl-10{
    padding-left: 10px;
}
.last-row{
    display: flex;
    justify-content: center;
}
/* **************** */
/* media query */
/* **************** */
@media screen and (max-width: 878px) {
    .col-songs{
        width: calc(100% / 4);
    }
}


@media screen and (max-width: 639px) {
    .col-songs{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 552px) {
    :root {
        --home-widith: 65px;
    }
    .home-col p {
        display: none;
    }
    .logo {
        width: 150px;
        display: none;
    }
    .logo-m{
        
        display: block;
    }
    .home {
        border-left: 0px solid #abfc2f;
        margin-left: 0;
    }
    
}